In [3]:
import pandas as pd
from sklearn.utils import shuffle

In [2]:
file = pd.read_csv("x_train_gr_smpl.csv", delimiter=',')
file.head()

,0,1,2,3,4,5,6,7,8,9,...,2294,2295,2296,2297,2298,2299,2300,2301,2302,2303
0,30.0,29.0,28.0,29.0,31.0,30.0,29.0,28.0,27.0,26.0,...,31.0,32.0,35.0,38.0,39.0,39.0,40.0,39.0,39.0,38.0
1,31.0,31.0,33.0,32.0,31.0,30.0,29.0,28.0,28.0,28.0,...,32.0,34.0,35.0,36.0,36.0,37.0,38.0,38.0,37.0,37.0
2,30.0,30.0,31.0,29.0,28.0,27.0,26.0,28.0,30.0,31.0,...,33.0,35.0,37.0,37.0,38.0,39.0,38.0,38.0,39.0,40.0
3,26.0,25.0,24.0,24.0,24.0,27.0,28.0,29.0,29.0,30.0,...,32.0,34.0,36.0,37.0,38.0,42.0,40.0,37.0,36.0,36.0
4,25.0,26.0,28.0,28.0,28.0,28.0,28.0,27.0,26.0,25.0,...,30.0,31.0,33.0,37.0,38.0,37.0,36.0,36.0,35.0,35.0

In [8]:
Y = pd.read_csv("y_train_smpl.csv", delimiter=',')
Y.columns = ['target']
Y.tail()

       target
12655       9
12656       9
12657       9
12658       9
12659       9

In [9]:
data = pd.concat([file, Y], axis=1)
data.head()

,0,1,2,3,4,5,6,7,8,9,...,2295,2296,2297,2298,2299,2300,2301,2302,2303,target
0,30.0,29.0,28.0,29.0,31.0,30.0,29.0,28.0,27.0,26.0,...,32.0,35.0,38.0,39.0,39.0,40.0,39.0,39.0,38.0,0
1,31.0,31.0,33.0,32.0,31.0,30.0,29.0,28.0,28.0,28.0,...,34.0,35.0,36.0,36.0,37.0,38.0,38.0,37.0,37.0,0
2,30.0,30.0,31.0,29.0,28.0,27.0,26.0,28.0,30.0,31.0,...,35.0,37.0,37.0,38.0,39.0,38.0,38.0,39.0,40.0,0
3,26.0,25.0,24.0,24.0,24.0,27.0,28.0,29.0,29.0,30.0,...,34.0,36.0,37.0,38.0,42.0,40.0,37.0,36.0,36.0,0
4,25.0,26.0,28.0,28.0,28.0,28.0,28.0,27.0,26.0,25.0,...,31.0,33.0,37.0,38.0,37.0,36.0,36.0,35.0,35.0,0

In [11]:
data = shuffle(data)
data.head()

,0,1,2,3,4,5,6,7,8,9,...,2295,2296,2297,2298,2299,2300,2301,2302,2303,target
8033,137.0,112.0,92.0,80.0,89.0,151.0,157.0,140.0,108.0,95.0,...,109.0,112.0,117.0,114.0,116.0,116.0,118.0,108.0,104.0,5
5175,255.0,255.0,255.0,255.0,255.0,255.0,255.0,255.0,255.0,255.0,...,255.0,255.0,255.0,255.0,255.0,255.0,255.0,255.0,255.0,4
5698,27.0,30.0,25.0,30.0,31.0,32.0,23.0,37.0,34.0,29.0,...,12.0,11.0,11.0,11.0,10.0,10.0,10.0,11.0,12.0,4
12501,38.0,39.0,37.0,37.0,38.0,38.0,38.0,38.0,38.0,39.0,...,57.0,65.0,66.0,61.0,44.0,33.0,29.0,29.0,32.0,9
6504,55.0,54.0,53.0,50.0,58.0,63.0,59.0,59.0,61.0,70.0,...,47.0,45.0,50.0,56.0,58.0,58.0,56.0,57.0,54.0,4